.flex-center {
  display: flex;
  justify-content: center;
}

/* For mx-auto to center a div, the div must have a width. Use this class in that case. */
.w-fit-content {
  width: fit-content;
}

body {
  background-color: seagreen;
}

.input-width {
  width: 12rem;
}

.input-padding {
  padding: 0.15rem 0;
}

@media (max-width: 775px) {
  .container {
    min-width: 700px;
  }
}